@model SAT.DATA.EF.Models.ScheduledClass

@{
    ViewData["Title"] = "Scheduled Class Details";
}
<div class="container">

<h2>@ViewData["Title"]</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InstructorName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InstructorName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Course)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Course.CourseName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Scs.Scsname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Scs.Scsname)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ScheduledClassId" class="btn btn-default">Edit</a> |
    <a asp-action="Index" class="btn btn-default">Back to List</a>
</div>

</div>